/* src/components/ReportForm.css */

.report-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.report-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px; /* Add spacing between fields */
}

.form-group label {
    margin-bottom: 5px;
    color: #555;
}

.rounded-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.rounded-input::placeholder {
    color: #999;
}

.submit-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-button:hover {
    background-color: #333;
}

.alert {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px; /* Add space between cards */
}

.card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 15px;
}

.form-check-input {
    margin-top: 0.3rem;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 30px); /* Ajusta el ancho de la lista para que coincida con el campo de entrada */
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
