/* src/App.css */
.d-flex {
  display: flex;
}

.sidebar {
  width: 60px; /* Tamaño inicial solo con iconos */
  height: 100vh;
  background: #343a40;
  color: #fff;
  transition: all 0.3s ease;
  position: fixed;
  overflow: hidden;
}

.sidebar:hover {
  width: 250px; /* Tamaño al pasar el cursor */
}

.sidebar .components {
  padding: 0;
  list-style: none;
  margin: 0;
}

.sidebar .components li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sidebar .components li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.sidebar .components li:hover {
  background: #495057;
}

.sidebar .components li a:hover {
  color: #fff;
}

.sidebar .components li a span {
  display: none;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .components li a span {
  display: inline;
  opacity: 1;
}

.content {
  margin-left: 60px;
  padding: 1rem;
  transition: margin-left 0.3s ease;
  width: calc(100% - 60px);
}

.content.sidebar-open {
  margin-left: 250px; /* Tamaño cuando el sidebar está abierto */
  width: calc(100% - 250px);
}

.content .container {
  padding: 2rem;
  max-width: 900px; /* Anchura máxima del contenido */
  margin: 0 auto; /* Centrar el contenido horizontalmente */
}

.sidebar:hover + .content {
  margin-left: 250px;
}
